/* gestione-revisioni.css */
.supporta {
    border: 1px solid #ccc;
    background-color: rgba(255, 230, 0, 0.08);
    padding: 1%;
    margin-top: 10px;
    text-align: center;
}

.revision-list {
    border: 1px solid #ccc;
}

.wp-list-table .revision-cell.check-column {
    flex: 0 0 30px;
}

.wp-list-table .visualizza-mobile,
.wp-list-table .revision-cell .button-visualizza-mobile {
    display: none;
}

/* Contenitore principale */
.revision-container {
    display: flex;
    flex-direction: column;
}

.wp-list-table .revision-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.wp-list-table .revision-row.alternate {
    background-color: #f9f9f9; /* Colore grigio chiaro */
}

/* Stile per le colonne */
.wp-list-table .revision-cell {
    width: 10%;
    padding: 0 5px; /* Ridotto il padding per avvicinare le colonne */
}

.wp-list-table .revision-cell:nth-child(2) {
    width: 70%;
}

.wp-list-table .revision-cell.actions {
    flex: 0 0 10%;
    text-align: center;
}

.wp-list-table .revision-cell .gr_toggle_revisions {
    width: 30px;
    aspect-ratio: 1;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #66b578; /* Verde */
    color: #fff;
    border: none;
}

.wp-list-table .revision-detail {
    display: none;
    flex-direction: column;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.wp-list-table .revision-detail.visible {
    display: flex;
}

.wp-list-table .revision-detail-row {
    display: flex;
    flex-direction: row;
    width: 25%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: rgba(255, 230, 0, 0.18);
}

.wp-list-table .revision-detail-row .revision-cell {
    flex: 1;
}

.wp-list-table .revision-detail .revision-detail-row {
    width: 100%;
}

.wp-list-table .button-visualizza-mobile::before {
    content: "\f464"; /* Icona per il pulsante */
    font-family: "dashicons";
    font-size: 1rem;
}

.wp-list-table .gr_toggle_revisions::before {
    content: "\f177"; /* Icona per il pulsante */
    font-family: "dashicons";
    font-size: 1rem;
}

/* Paginazione */
.tablenav .tablenav-pages {
    margin: 1em 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablenav .tablenav-pages .pagination-links {
    display: inline-block;
    margin: 0 0.125rem;
}

.gr-credits img {
    vertical-align: middle;
    height: 20px;
}

/* Ottimizzazione per mobile a 760px */
@media screen and (max-width: 760px) {
    .wp-list-table .ultima-revisione,
    .wp-list-table .button-visualizza {
        display: none;
    }

    .wp-list-table .revision-cell .gr_toggle_revisions,
    .wp-list-table .revision-cell .button-visualizza-mobile {
        border-radius: 3px;
        width: 40px;
    }

    .wp-list-table .revision-cell .gr_toggle_revisions {
        text-align: center;
        font-size: 16px;
        background-color: #66b578; /* Verde */
    }

    .wp-list-table .revision-cell .button-visualizza-mobile {
        display: inline-block;
        text-align: center;
        background: #c95661; /* Rosso */
        color: #fff;
        border: none;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1;
    }

    .wp-list-table .revision-cell .button-visualizza-mobile::before {
        content: "\f463"; /* Icona per il pulsante */
        font-family: "dashicons";
        font-size: 16px; 
    }
}
